
/* colors */
/* #1d2328 - dark gray, message rows */
/* #A8BFBD - light gray, text color */
/* #2F3136 - gray, old background color */
/* #0e0f0f - blackish, background color, my messages */
/* #404449 - light gray, active nav item, scroll bar */
/* #C1C7D0 - bright gray?, outline of chatbox and chat header divider */

/* from original ------------------------------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
th,
a,
p,
span :not([class^='cm-']) :not([class='ediff-add']),
label,
span.stub,
span.message-subject,
textarea,
input,
.line-number,
button,
code,
div.commit-message > pre,
div.commit-badge-oneline,
.aui-message,
.aui-badge,
span[role='menuitemcheckbox'],
span[role='menuitemradio'],
span.pull-request-id,
dd,
dt,
li {
    color: #A8BFBD !important;
    text-shadow: none !important;
}
button[disabled='disabled'] {
    color: #999999 !important;
    text-shadow: none !important;
}
.conversation-header .meta {
    padding-left: 2px;
}
.stride-application .stride-root,
.message-panel,
.main-column,
.chat-input-box,
.navigation
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div,
.navigation
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div
  div,
.navigation
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div
  div
  button {
    background-color: #0e0f0f !important;
    box-shadow: none !important;
}
.message-body div code span {
    box-shadow: none !important;
}
.message-body div span[data-mention-id] span {
    border-radius: 0;
}

/* idk what this does */
.menu-item.active-tab > a,
.aui-navgroup-vertical .aui-nav > li > a:focus,
.aui-navgroup-vertical .aui-nav > li > a:
,
.aui-nav-vertical > li > a:focus,
.aui-nav-vertical > li > a:hover {
    background-color: #2c2f33 !important;
    color: #BFC4BD;
}
.menu-item > a,
.jstree-clicked,
.aui-nav-selected > a,
.aui-badge,
textarea,
input,
div > a[class^='select'],
div > a.aui-button,
button,
td,
.sidebar,
.navigation div,
.right-column-inner,
.navigation
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div
  div
  button:hover {
    background-color: #1d2328 !important;
    color: #8CAEC1;
}

/* Side Nav --------------------------------------------------------------------------------------------- */

/*  unread message indicator in side nav */
.activity-indicator.has-count {
    background-color: #c30 !important;
}

/* nav items */
.nav-item {
    padding: 7px 0 12px 10px;
    margin-top: 2px;
    border-bottom: 1px solid #A8BFBD;
    border-radius: 30px;
    height: 30px;
}

/* arrow to reset width of side nav section of the window */
.gsOGuN {
    display: none;
}

/*  side nav items and the currently selected side nav item */
div[data-pendo="nav-item-selected"],
div[data-pendo="nav-item-selected"] > span > span > div > div,
.nav-item:hover,
.nav-item:hover span > span > div > div,
/* container boxes inside nav items */
.kpqxCV.kpqxCV:active,
.drcGQh.drcGQh:active,
.drcGQh:hover,
.kpqxCV {
    background-color: #404449 !important;
}

/* when you click a nav item it goes active and had a different color  */
.kpqxCV.kpqxCV,
.drcGQh.drcGQh,
.kpqxCV.kpqxCV:active,
.drcGQh.drcGQh:active {
    width: 225px;
}


/*  the X to close a chat in the side nav */
.jfKqeX {
	background-color: #404449;
	 width: 25px;
}

/* fixes the 2 pixel gap in the x to close a chat in the side nav */
.nav-item-close {
	right: 0px;
}


/* Chat Section --------------------------------------------------------------------------------------------- */


/* name in the header of chat */
.direct-conversation-name {
	color: #f8f8f8 !important;
}

/* chat header bottom border (name image etc) */
.direct-conversation.conversation-header:after {
	content: ""; /* This is necessary for the pseudo element to work. */ 
	display: block; /* This will put the pseudo element on its own line. */
	margin: 0 auto; /* This will center the border. */
	width: 90%;
	border-bottom: 2px solid #F4F5F7;
}

.line-start {
    background-color: #f8f8f8;
}

/* starts a group of messages from either user */
.group-header {
    margin-top: 7px;
}

/* any message row */
.message-row {
    padding: 0 0 0 32px;
    background-color: #1d2328;
}

/* name of message sender */
.message-sender {
    font-size: 14px;
    color: #f8f8f8 !important;
}

/* my message rows */
.message-row.me {
    background-color: #0e0f0f;
}

.unread-line-message {
    color: #f8f8f8 !important;
}

/* fixes chat section window width */
.responsive.xlarge .message-list .infinite-scroll-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* fixes chat section window width */
.responsive.xlarge .conversation-header {
    padding-left: 0px;
    padding-right: 0px;
}

/* fixes chat section window width */
.responsive.xlarge .chat-input-box {
    padding: 6px 7px 6px 25px !important;
}

/* chat input has default padding for the old width */
.chat-input-wrapper {
    padding-left: 0px;
}

/* line that says its a new day */
.date-divider {
    background-color: #36393E;
    margin: 0 0 0 15px;
    padding: 10px 0 10px 20px;
}

/*  code blocks */
.CodeBlock > span, code {
	background-color: #2F3136 !important;
    user-select: all;
}

/* inline code */
.code,
.bYbXpE span { 
    background-color: transparent !important;
}

/*  edit message '...' icon was too tall, making the textbox 'bounce' when you hovered the last message */
.idLChA {
	height: 20px;
}

/* user icons? idr */
.cTpEIm, .gLmXil, .ggeOPV, .jaSyDq, .gihVRK, .jFmzxS {
    background-color: #A8BFBD;
}

/* scroll bar */
.infinite-scroll-inner:hover::-webkit-scrollbar-thumb {
    background: #404449;
}

/* images */
.hbxRRE, .hbxRRE .wrapper {
	background:transparent;
}

/* Other --------------------------------------------------------------------------------------------------- */

/*  '...' icon in the input bar menu background and formatting tips window background */
.enCZZu,
.kLRLgv,
.dDMqft,
.jvzbLB,
.ljJvlB,
.lozLEQ,
.VAeXc,
.fuSkBg {
    background-color: #2F3136;
}

/*  X in the side nav container div */
.eaVGWA { 
    margin: 0px;
}

/* removes box around user icons in side nav  */
.bOUELZ > div {
	background: transparent;
}
/* anchor tag hyperlinks */
.josSif {
	text-decoration: underline;
}
/* fixes the wide box around activity indicator  */
.gAehUA {
    min-width:inherit;
}

.gexPcd {
    background-color: transparent
}

/* chat with a teammate name input box  */
.mXjBZ,
.mXjBZ:hover {
    background-color: transparent !important;
    border-color: #A8BFBD;
}


/* OVERRIDES -------------------------------------------------------------------------------------------- */

/* for paul */

/* .hOznOd {
    border: none;
	background-color: #1d2328;
}

.hPPsOH:before,
.hPPsOH:after {
    background: transparent;
}
.direct-conversation.conversation-header:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 90%;
	border-bottom: none !important;
}

form.chat-input-box {
    padding: 6px 7px 6px 25px !important;
} */
