h1,
h2,
h3,
h4,
h5,
th,
a,
p,
span :not([class^='cm-']) :not([class='ediff-add']),
label,
span.stub,
span.message-subject,
textarea,
input,
.line-number,
button,
code,
div.commit-message > pre,
div.commit-badge-oneline,
.aui-message,
.aui-badge,
span[role='menuitemcheckbox'],
span[role='menuitemradio'],
span.pull-request-id,
dd,
dt,
li {
    color: #A8BFBD !important;
    text-shadow: none !important;
}
button[disabled='disabled'] {
    color: #999999 !important;
    text-shadow: none !important;
}
.conversation-header .meta {
    padding-left: 2px;
}
.stride-application .stride-root,
.message-panel,
.main-column,
.chat-input-box,
.navigation
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div,
.navigation
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div
  div,
.navigation
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div
  div
  button {
    background-color: #2F3136 !important;
    box-shadow: none !important;
}
.message-body div code span {
    box-shadow: none !important;
}
.message-body div span[data-mention-id] span {
    border-radius: 0;
}
.menu-item.active-tab > a,
.aui-navgroup-vertical .aui-nav > li > a:focus,
.aui-navgroup-vertical .aui-nav > li > a:
,
.aui-nav-vertical > li > a:focus,
.aui-nav-vertical > li > a:hover {
    background-color: #2c2f33 !important;
    color: #BFC4BD;
}
.menu-item > a,
.jstree-clicked,
.aui-nav-selected > a,
.aui-badge,
textarea,
input,
div > a[class^='select'],
div > a.aui-button,
button,
td,
.sidebar,
.navigation div,
.right-column-inner,
.navigation
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div
  div
  button:hover {
    background-color: #2F3136 !important;
    color: #8CAEC1;
}
.message-row {
    padding: 0 0 0 32px;
    background-color: #2F3136;
}
.line-start {
    background-color: #f8f8f8;
}
.group-header {
    margin-top: 7px;
}
.message-sender {
    font-size: 14px;
}
.message-row.me {
    background-color: #1d2328;
}

.unread-line-message,
.message-sender {
    color: #f8f8f8 !important;
}
.responsive.xlarge .message-list .infinite-scroll-content{
    padding-left: 0px;
    padding-right: 0px;
}

.responsive.xlarge .conversation-header {
    padding-left: 0px;
    padding-right: 0px;
}

.responsive.xlarge .chat-input-box {
    padding-left: 17px;
    padding-right: 7px;
}
.chat-input-wrapper {
    padding-left: 0px; 
}
.nav-item {
    margin: 5px 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #A8BFBD
}
.gsOGuN {
    display: none;
}
.date-divider {
    background-color: #36393E;
    margin: 0 0 0 15px;
    padding: 10px 0 10px 20px;
}

div[data-pendo="nav-item-selected"],
.nav-item:hover {
    background-color: #404449 !important;
}
.chat-input-box {
    background-color: #484C52;
}
.enCZZu,
.kLRLgv,
.dDMqft,
.jvzbLB,
.ljJvlB,
.lozLEQ,
.VAeXc,
.fuSkBg {
    background-color: #2F3136;
}
.CodeBlock > span, code {
	background-color: #2F3136 !important;
}
.activity-indicator.has-count {
    background-color: #c30 !important;
}  
